# Ignore virtual environment
/riasenv/

# Ignore data folders
/rias_project/data/
/rias_project/logs
/rias_project/results
# /rias_project/data/resources/
/resources/

# Ignore file types
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.mp4
*.mov
*.avi
*.mkv
*.wav
*.mp3
*.log
*.tmp

*.csv
*.db
*.sqlite
*.pdf
*.zip
*.tar.gz
*.tar.bz2
*.rar


# Ignore Python cache and IDE settings
__pycache__/
*.pyc
.vscode/
.idea/
.env
